* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  height: 100vh;
}
.main_box {
  color: #fff;
}
.text_area {
  padding: 10px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  background-color: #000;
}
.title,
.color {
  display: inline-block;
  text-transform: lowercase;
  font-size: 20px;
}
.title {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.btn {
  margin-top: 20px;
  padding: 15px 0;
  width: 300px;
  border-radius: 4px;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
  background-color: rgb(211, 137, 253);
  color: #fff;
}
